*{
    margin: 0;
}

.navbar{
    height: 35px;
    background-color: #21bc56;
    
    
}
.nav-element{
    width: 50px;
    height: inherit;
    align-content: center;
    text-align: center;
    align-items: center;
    line-height: 35px;
    color: #fff;
    display: inline;
    
}
.nav-element : hover{
    background-color: #006400;
}

.gpsButton{
    
    height: 50px;
    width: 250px;
    margin: 200px auto 0;
    background-color: #21bc56;
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    cursor: pointer;
    
}
